{% if not ajax %}<div id="calibration{{ i.pk }}-modal">{% endif %} 
<div class="modal-content" data-inst="{{ i.pk }}" data-pk="{% if c and c.pk %}{{ c.pk }}{% else %}-1{% endif %}">
	<h4 class="thin center {{ theme }}-text {% if not c %}bottom-border{% endif %}">Calibration for "{{ i.name }}"</h4>
	{% if c %}
	<h6 class="thin2 center bottom-border">
	Started at {{ c.date_created }} Last edited at {{ c.date_edited }} by {{ c.user.username }}</h6>
	{% endif %}
	<div class ="row calibration-inputs bottom-border">
		{% if c and c.points.count > 0 %}
			{% for p in c.points.all %}
				<div class="col s12 m6 input-field calibration-input">
					<input id="calibraiton-point-{{ p.number }}" type="text" data-pk="{{ p.pk }}" 
						data-num="{{ p.number }}" class="calibration-point" value="{{ p.value }}">
			        <label for="calibraiton-point-{{ p.number }}" 
			        	data-num="{{ p.number }}">Calibration Point {{ p.number }}</label>
				</div>
			{% endfor %}
		{% else %}
		<div class="col s12 m6 input-field calibration-input">
			<input id="calibraiton-point-1" type="text"  data-num="1"
				 data-pk="-1" class="calibration-point">
	        <label for="calibraiton-point-1">Calibration Point 1</label>
		</div>
		<div class="col s12 m6 input-field calibration-input">
			<input id="calibraiton-point-2" type="text"  data-num="2"
				 data-pk="-1" class="calibration-point">
	        <label for="calibraiton-point-2">Calibration Point 2</label>
		</div>
		<div class="col s12 m6 input-field calibration-input">
			<input id="calibraiton-point-3"  data-num="3"
				 data-pk="-1" type="text" class="calibration-point">
	        <label for="calibraiton-point-3">Calibration Point 3</label>
		</div>
		<div class="col s12 m6 input-field calibration-input">
			<input id="calibraiton-point-4"  data-num="4"
				 data-pk="-1" type="text" class="calibration-point">
	        <label for="calibraiton-point-4">Calibration Point 4</label>
		</div>	
		{% endif %}
		<div class="col s12 m6 calibration-add" style="text-align:right;">
			<button id="calibration-add-btn-{{ i.pk }}" 
				class="waves-effect waves-light {{ theme }}-text btn grey lighten-3 calibration-add-btn">Add another point</button>
		</div>
	</div>
	<div class="row text-inputs">
		<div class="col s12 m6 input-field">
			<textarea id="alarm_trigger_points" class="materialize-textarea{% if c and c.alarm_trigger_points %} active{% endif %}" >{% if c and c.alarm_trigger_points %}{{ c.alarm_trigger_points }}{% endif %}</textarea>
	        <label for="alarm_trigger_points">Alarm Trigger Points</label>
		</div>
		<div class="col s12 m6 input-field">
			<textarea id="comments" class="materialize-textarea{% if c and c.comments %} active{% endif %}">{% if c and c.comments %}{{ c.comments }}{% endif %}</textarea>
	        <label for="comments">Comments</label>
		</div>
		<div class="col s12 m6 input-field">
			<textarea id="issues" class="materialize-textarea{% if c and c.issues %} active{% endif %}">{% if c and c.issues %}{{ c.issues }}{% endif %}</textarea>
	        <label for="issues">Issues</label>
		</div>
		<div class="col s6 input-field">
			<input type="checkbox" id="completed" {% if c and c.completed == True %}checked="checked"{% endif %}/>
	        <label for="completed">Calibration Completed (100% done, no issues)</label>
		</div>
	</div>
</div>
<div class="modal-footer">
  <div class="row" style="margin:0">
		<div class="col s12">
			  <button class="btn waves-effect waves-light {{ theme }} submit-btn" type="submit" name="action">Submit
			    <i class="material-icons right">send</i>
			  </button>
			  {% if ajax %}
			  <button class="btn left waves-effect waves-light 
							{% if theme == 'pink' or theme == 'red' %}black{% else %}red{% endif %} 
								lighten-1 modal-action modal-close">Close
				<i class="material-icons right">cancel</i>
			  </button>	
			  {% endif %}
		</div>
	</div>
</div>
{% if not ajax %}
	<script>
	$('.submit-btn').on('click', function(){
		submit_calibration($(this), {{ i.pk }});
	});
	</script>
{% endif %}
{% if not ajax %}</div>{% endif %} 