<form method="post">
	<div>
	    <h4 class="white-text lighten-1 {{ theme }} center thin2">{{ formtitle }}</h4>
		        {% csrf_token %}
			    {% for field in form %}
			    <div class="row">
					<div class="input-field col s10 push-s1">						        
				        {{ field }}{% if not field.is_hidden %}{{ field.label_tag }}{% endif %}
				        {% if field.errors %}<small class="error">{{ field.errors }}</small>{% endif %}
				        {% if field.help_text %}
				        <span class="help">{{ field.help_text|safe }}</span>
				        {% endif %}
				        </div>
				    </div>				    
				{% endfor %}
		<div class="row">
			<div class="col s10 push-s1">
				<input class="col white-text lighten-1 waves-effect waves-green btn-flat {{ theme }}" type="submit" value="Submit"  />
			</div>
			<div class="col s8 red-text text-darken-2 error-msg">
			</div>
		</div>
	</div>
</form>