<form method="post" action="" id="instrument-form">
		<div>
		    <h3 class="{{ theme }}-text darken-3 theme thin2 center">{% if pagetitle %}{{ pagetitle }}{% else %}Instrument{% endif %}</h3>
		    <h5 class="thin2 {{ theme }}-text darken-3 center">{{ obj.location }}</h5>
		    	<div class="row">
			        {% csrf_token %}
				    {% for field in form %}
					        <div class="input-field col s12 l6" {% if field.label == 'Pk' %}style="display:none"{% endif %}>
					        {% if field.label == 'Drawings' %}
					           <div class="file-field input-field">
							      <div class="btn waves-effect waves-white {{ theme }}">
							        <span>Drawings</span>
							        <input type="file" id="id_drawings">
							      </div>
							      <div class="file-path-wrapper">
							        <input class="file-path validate" type="text">
							      </div>
							    </div>
							{% elif field.label == 'Model' %}
							<button data-target="model-modal" class="btn waves-effect waves-light z-depth-1 btn-make-new modal-trigger {{ theme }}">New Model</button>
								{{ field }} {{ field.label_tag }}
								{% if obj %}
								<div id="init-model"  data-pk="{{ obj.model.pk }}" data-name="{{obj.model}}" ></div>
								{% endif %}
							{% elif field.label == 'Location' %}
							<button data-target="location-modal" class="btn waves-effect waves-light z-depth-1 btn-make-new modal-trigger {{ theme }}">New Location</button>
								{{ field }} {{ field.label_tag }}
								{% if obj %}
								<div id="init-location"  data-pk="{{ obj.location.pk }}" data-name="{{obj.location.name}}" ></div>
								{% endif %}
							{% elif field.label == 'Calibration frequency' %}
							<button data-target="frequency-modal" class="btn waves-effect waves-light z-depth-1 btn-make-new modal-trigger {{ theme }}">New Frequency</button>
								{{ field }} {{ field.label_tag }}
					        {% else %}
						        {{ field }}{% if not field.is_hidden %}{{ field.label_tag }}{% endif %}
					        {% endif %}
					        {% if field.errors %}<small class="error">{{ field.errors }}</small>{% endif %}
					        {% if field.help_text %}
					        <p class="help">{{ field.help_text|safe }}</p>
					        {% endif %}
					        </div>
					    
					{% endfor %}
				</div>
			<input class="col waves-effect waves-green {{ theme }} btn-large btn" type="submit" value="Save"  />
		</div>
	</form>