<form method="post" onsubmit="return false;">
	<div>
		<div class="modal-content">
	    <h4 class="{{ theme }}-text darken-3 theme">New Session</h4>
		        {% csrf_token %}
			    {% for field in formsession %}
				    <div class="row">
				        <div class="input-field col s12">
				        {{ field }}{% if not field.is_hidden %}{{ field.label_tag }}{% endif %}
				        </div>
				        {% if field.errors %}<small class="error">{{ field.errors }}</small>{% endif %}
				        {% if field.help_text %}
				        <p class="help">{{ field.help_text|safe }}</p>
				        {% endif %}
				    </div>
				    
				{% endfor %}
		</div>
		<div class="modal-footer">
			<p class="light left">This will mark your current session as closed</p>
			<input id="sess-submit" class="col {{ theme }}-text waves-effect waves-green btn-flat right theme" type="submit" value="Submit"  />
		</div>
	</div>
</form>