<form id="songrequest-now" action="javascript:return false;">
	<div>
		<div class="modal-content">
		{% if not banned %}
	    <h4 class="{{ theme }}-text darken-3 theme">Song Request</h4>
		        {% csrf_token %}
		        <!-- title, artist, links (youtube, spot, soundcloud, play), genre, notes, name-->
				    <div class="row">
				        <div class="input-field col s12 m6">
				          <i class="material-icons prefix">title</i>
				          <input id="id_title" type="text" class="validate">
				          <label for="id_title">Title*</label>
				        </div>
				        <div class="input-field col s12 m6">
				          <i class="material-icons prefix">face</i>
				          <input id="id_artist" type="text" class="validate">
				          <label for="id_artist">Artist*</label>
				        </div>
				        {% if s.0.allow_youtube %}
				        <div class="input-field col s12 m6">
				          <i class="material-icons prefix">music_video</i>
				          <input id="id_youtube_link" type="text" class="validate">
				          <label for="id_youtube_link">Youtube Link</label>
				        </div>
				        {% endif %}
				        {% if s.0.allow_spotify %}
				        <div class="input-field col s12 m6">
				          <i class="material-icons prefix">music_note</i>
				          <input id="id_spotify_link" type="text" class="validate">
				          <label for="id_spotify_link">Spotify Link</label>
				        </div>
				        {% endif %}
				        {% if s.0.allow_soundcloud %}
				        <div class="input-field col s12 m6">
				          <i class="material-icons prefix">cloud</i>
				          <input id="id_soundcloud_link" type="text" class="validate">
				          <label for="id_soundcloud_link">Soundcloud Link</label>
				        </div>
				        {% endif %}
				        {% if s.0.allow_playmusic %}
				        <div class="input-field col s12 m6">
				          <i class="material-icons prefix">play_circle_filled</i>
				          <input id="id_playmusic_link" type="text" class="validate">
				          <label for="id_playmusic_link">Google Play Link</label>
				        </div>
				        {% endif %}
				        <div class="input-field col s12">
				          <i class="material-icons prefix">speaker_notes</i>
				          <input id="id_note" type="text" class="validate">
				          <label for="id_note">Notes</label>
				        </div>
				    </div>
				    {% else %}
				    <p>You are banned from requests in this session</p>
				    {% endif %}
		</div>
		<div class="modal-footer">
		{% if not banned %}
			<p class="light grey-text darken-2 left">  * Mandatory</p>
			<input class="col {{ theme }}-text waves-effect waves-green btn-flat right theme" type="submit" value="Submit"  />
		{% endif %}
		</div>
	</div>
</form>