{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Heading Breading -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="theme-color" content=#2196F3 />
    <title>npholley</title>
	<link rel="shortcut icon" href="{% static "img/favicon.png" %}"/>
	
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Generic Stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "js/modernizr.js" %}"></script>   
    <script src="{% static "js/jquery.history.js" %}"></script>
    <script src="{% static "js/ajaxify-html5.js" %}"></script>
    
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
	
	 <!-- MaterializeCSS -->
	  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="{% static "css/app.css" %}" />
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/room.js" %}"></script>
    <script src="{% static "js/app_api.js" %}"></script>
	<script>
	$(document).ready(function() {  
		initialize_first();
		$('#spinner-load').stop( true, true ).fadeOut(200);
	});
	$(window).on('statechangecomplete', function(e, eventInfo){
		$('#spinner-load').stop( true, true ).fadeOut(200);
		initialize_generic();
	});
	</script>
  </head>
  
  <body id="body">
  {% include 'loading.html' %}
  {% include 'container/nav.html' %}  
  <div id="spinner-load" style="display:none">
  {% include 'spinner.html' %}
  </div>
  {% block body %}
	{% include 'base.html' %}
  {% endblock %}
  </body>  
</html>
