{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Heading Breading -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="theme-color" content=#2196F3 />
    <title>Calibration</title>
	<link rel="shortcut icon" href="{% static "img/favicon.png" %}"/>
	
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Generic Stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "js/modernizr.js" %}"></script>   
    <script src="{% static "js/jquery.history.js" %}"></script>
    <script src="{% static "js/ajaxify-html5.js" %}"></script>
    
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    
    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
	
	<!-- Datatables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/r-2.1.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/r-2.1.1/datatables.min.js"></script>
	 <!-- MaterializeCSS -->
	  <!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	
	  <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="{% static "css/app.css" %}" />
    <script src="{% static "js/app.js" %}"></script>
	<script>
	$(document).ready(function() {  
		initialize_first();
		$('#spinner-load').stop( true, true ).fadeOut(200);
	});
	$(window).on('statechangecomplete', function(e, eventInfo){
		$('#spinner-load').stop( true, true ).fadeOut(200);
		initialize_generic();
	});
	</script>
  </head>
  
  <body id="body">
  {% include 'blocks/loading.html' %}
  {% include 'container/nav.html' %}  
  <div id="spinner-load" style="display:none">
	{% include 'blocks/spinner.html' %}
  </div>
  {% block body %}
	{% include 'base.html' %}
  {% endblock %}
  {% include 'footer.html' %}
  {% if not user.is_authenticated %}
  <!-- Modal Structure -->
  <div id="modal-login" class="modal">
</div>
  {% endif %}
  </body>  
</html>
