<h5 class="inline">Your Recent Cards</h5>
<a {% if not cardsmax %} href="#modal-create-card"{% endif %} 
        class="waves-effect btn-flat tooltipped{% if cardsmax %} grey-text{% else %} {{ theme }}-text modal-trigger{% endif %}" 
        data-position="top" data-tooltip="{% if cardsmax %}You have the max number of cards allowed{% else %}Add Another{% endif %}"><i class="material-icons">add</i></a>
<ul id="card-list" class="collection">

	{% for c in cards %}
		<li class="collection-item col s12 m6 l4" data-pk="{{ c.pk }}">
			<div class="card">
				<div class="card-content">
				  <a href="#modal-update-card-{{ c.pk }}" class="card-title modal-trigger {{ theme }}-text">{{ c.text }}<i class="material-icons right">more_vert</i></a>
				  <p>{{ c.flavor_text }}</p>
				</div>
			</div>
			{% include 'dialog/update.card.html' %}
		</li>
	{% endfor %}
</ul>
