<ul id="deck-list" class="collection with-header z-depth-1">
    <li class="collection-header">
        <h5 class="inline">Your Decks</h5>
        <a {% if not decksmax %} href="/deck/create/deck/"{% endif %} 
        class="waves-effect btn-flat tooltipped{% if decksmax %} grey-text{% else %} {{ theme }}-text{% endif %}" 
        data-position="top" data-tooltip="{% if decksmax %}You have the max number of decks allowed{% else %}Add Another{% endif %}"><i class="material-icons">add</i></a>
    </li>
    {% for d in decks %}
        <li class="collection-item" data-pk="{{ d.pk }}">
            <div class="card">
                <div class="card-content">
                  <span class="card-title activator">
                    {% if d.in_play %}
                        <i class="material-icons orange-text tooltipped" data-position="top" data-tooltip="Being used">playlist_play</i>
                    {% else %}
                        <i class="material-icons {{ theme }}-text tooltipped" data-position="top" data-tooltip="Not being used">library_books</i>
                    {% endif %}
                    {{ d.name }}<i class="material-icons right {{ theme }}-text">more_vert</i></span>
                  <p>Contains {{ d.get_count }} cards</p>
                </div>
                <div class="card-reveal">
                  <span class="card-title">&nbsp;<i class="material-icons right">keyboard_arrow_down</i></span>&nbsp;&nbsp;&nbsp;
                  <a class="tooltipped" data-position="top" data-tooltip="Edit" href="/deck/update/deck/{{ d.slug }}/"><i class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="tooltipped modal-trigger" data-position="top" data-tooltip="Delete" href="#modal-delete-deck-{{ d.pk }}"><i class="material-icons js-remove">delete_forever</i></a>
                </div>
            </div>
            <div id="modal-delete-deck-{{ d.pk }}" class="modal">
                <div class="modal-content">
                  <h4>Delete {{ d.name }}</h4>
                  <p>Are you sure you want to delete this deck? This action is permanent.</p>
                </div>
                <div class="modal-footer">
                  <a href="/deck/delete/deck/{{ d.slug }}/" class="deck-delete waves-effect waves-red btn-flat red-text" data-slug="{{ d.slug }}">Delete</a>
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>