{% load staticfiles %}

<div id="content">
<div class="section no-pad-bot">
    <div class="container">
      <div class="row bottom-border">
      	  <span class="col thin small-title s12 m3" id="obj-plant" data-pk="{{ dataplant.pk }}" data-name="{{ dataplant.name }}">Export Instruments</span>
      	  <div class="col s12 m9">
			<button data-position="bottom" data-delay="50" data-tooltip="Select your plant and data. You can move columns around. You can export data with buttons underneath. User the search box to filter on any text." 
			class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer tooltipped">Help</button>
           </div>
      </div>
    </div>
  </div>


<div class="container" id="export-container">
	<ul class="collection with-header z-depth-1">
		<li class="collection-header">
			<div class="row squish">
				<form action="/reports/export/" method="get">
					<div class="input-field col s12 m3 squish">
			          <select id="id_plant" class="squish" name="plant">
			          	{% for p in user.plants.all %}
			          		<option value="{{ p.pk }}"{% if p.pk == dataplant.pk %} selected="selected"{% endif %}>{{ p.name }}</option>
			          	{% endfor %}
			          </select>
			        </div>
			        <div class="input-field col s12 m3 squish">
			          <select id="id_limit" class="squish" name="limit">
			          		<option value="both" {% if limit == 'both' %}selected="selected"{% endif %}>Active and InActive</option>
			          		<option value="true" {% if limit == 'true' %}selected="selected"{% endif %}>Active Only</option>
			          		<option value="false" {% if limit == 'false' %}selected="selected"{% endif %}>InActive Only</option>
			          </select>
			        </div>
			        <div class="input-field col s3 m1">
			          	<button class="waves-effect waves-light {{ theme }} btn" type="submit">
			          		<i class="material-icons">send</i>
			          	</button>
			        </div>
		        </form>
			</div>
		</li>
		<li class="export">
			<table id="report-table" class="display dataTable compact" cellspacing="0" width="100%"> 
		        <thead>
				    <tr>
				    	<th>Name</th>
				    	<th>Location</th>
				    	<th>Model #</th>
				    	<th>Calibration Frequency</th>
				    	<th>Next Calibration</th>		
				    	<th>Serials</th>
				    	<th>Manufacturer</th>
				    	<th>Type</th>
				    	<th>Part Num</th>				    			    	
				    	<th>Calibrated Span</th>
				    	<th>Zero Offset</th>
				    	<th>In/Out Characteristics</th>
				    	<th>Process</th>	    				    	
				    	<th>Date Edited</th>
				    	<th>Active Issue</th>
				    	<th>Past Due</th>
				    	<th>Active</th>
				    </tr>
				</thead>
		        <tbody>
		        	{% for i in instruments %}
		        	<tr>
		        		<td>{{ i.name }}</td>
				    	<td>{{ i.location.name }}</td>
				    	<td>{{ i.model.model_number }}</td>
				    	<td>{{ i.calibration_frequency }}</td>
				    	<td>{{ i.next_calibration }}</td>		
				    	<td>{{ i.serials }}</td>
				    	<td>{{ i.model.manufacturer }}</td>
				    	<td>{{ i.model.type }}</td>
				    	<td>{{ i.part_num }}</td>				    			    	
				    	<td>{{ i.calibrated_span }}</td>
				    	<td>{{ i.zero_offset }}</td>
				    	<td>{{ i.input_output_characteristics }}</td>
				    	<td>{{ i.process }}</td>	    				    	
				    	<td>{{ i.date_edited }}</td>
				    	<td>{{ i.active_issue }}</td>
				    	<td>{{ i.past_due }}</td>
				    	<td>{{ i.active }}</td>
		        	</tr>
		        	{% endfor %}
		        </tbody>
		  </table>
		</li>
      </ul>
</div>


<!-- Modals -->
<div id="render" data-theme="{{ theme }}"></div>
	<div id="instrument-modal" class="modal modal-fixed-footer">
	</div>
</div>