<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6 center">
        <h5><a class="no-ajaxy" href="https://github.com/npholley/groupdeck">Deck.</a> is built by</h5>
        <a class="no-ajaxy" href="https://github.com/npholley">npholley</a> <span>&nbsp;and&nbsp;<a class="no-ajaxy" href="https://github.com/ShawnCG">ShawnCG</a>
      </div>
      <div class="col s12 m6 center">
        <h5>Deck. uses</h5>
        <a class="no-ajaxy" href="https://www.djangoproject.com/">django, </a>
        <a class="no-ajaxy" href="http://www.django-rest-framework.org/">django rest framework, </a>
        <a class="no-ajaxy" href="http://materializecss.com/">materialize css.</a>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>
</div>