<button class="right modal-action modal-close btn-close"><i class="material-icons">cancel</i></button>
<div class="row {{ theme }} darken-3" style="margin:0 auto;padding-top:10px;">
	<div class="s12 center">
		<h4 class="thin white-text">{{ i.name }}</h4>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Model </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.model }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Description </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.description }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Comments </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.comments }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Serials </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.serials }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Part Number </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.part_num }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Location </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.location }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Calibrated Span </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.calibrated_span }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Zero Offset </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.zero_offset }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Input Output Characteristics </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.input_output_characteristics }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Calibration Frequency </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.calibration_frequency }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Process </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.process }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Next Calibration </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.next_calibration }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Interconnected Device </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.interconnected_device }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Date Edited </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.date_edited }}</span>
	</div>
</div>