<li class="collection-item avatar instrument-row" id="instrument-issue-{{ i.pk }}" data-pk="{{ i.pk }}">
	{% if i.active %}
	<div class="row squish">
		<div class="hover-action">
			<a href="#" class="waves-effect waves-light btn-large {{ theme }} complete-btn">Complete<i class="material-icons right">note_add</i>
			</a>
		</div>
		{% if i.past_due %}
			<i class="material-icons circle red">alarm</i>
		{% elif i.active_issue %}
			<i class="material-icons circle orange">warning</i>
		{% elif i.attention %}
			<i class="material-icons circle blue darken-1">track_changes</i>
		{% else %}
			<i class="material-icons circle green darken-1">check_circle</i>
		{% endif %}		
		<div class="col s12">
			<span class="small-title thin2">{{ i.name }}</span>
			<a href="#detail{{ i.pk }}-modal" class="right calib-action modal-trigger"><i class="material-icons {{ theme }}-text text-darken-1">more_horiz</i></a>
			<a href="#messages{{ i.pk }}-modal" class="right calib-action modal-trigger">
				{% if i.messages.count > 0 %}
					<div class="message-count">{{ i.messages.count }}</div>
					<i class="material-icons {{ theme }}-text text-darken-1">message</i>
				{% else %}
					<i class="material-icons grey-text">message</i>
				{% endif %}
			</a>	
			<a href="#calibration{{ i.pk }}-modal" class="right calib-action calib-pop" data-pk="{{ i.pk }}">
				<i class="material-icons {% if i.past_due %}red-text{% elif i.active_issue %}orange-text{% else %}{{ theme }}-text text-darken-1{% endif %}">note_add</i>
			</a>		      
			<p {% if i.past_due %}class="red-text"{% endif %}>{{ i.location }} <br>
			    {{ i.next_calibration }}
			</p>
		</div>
		<div id="calibration{{ i.pk }}-modal" class="modal bottom-sheet calib-modal modal-fixed-footer"></div>
		<div id="messages{{ i.pk }}-modal" class="modal">
			{% include 'blocks/messages.html' %}
		</div>
		<div id="detail{{ i.pk }}-modal" class="modal">
			{% include 'blocks/instrumentdetails.html' %}
		</div>
	</div>
	{% else %}
	<div class="row squish">
		<i class="material-icons circle indigo darken-1">build</i>		
		<div class="col s12">
			<span class="small-title thin2">{{ i.name }}</span>
			<a href="#detail_t{{ i.pk }}-modal" class="right calib-action modal-trigger"><i class="material-icons {{ theme }}-text">more_horiz</i></a>
			<a href="#messages_t{{ i.pk }}-modal" class="right calib-action modal-trigger">
				{% if i.messages.count > 0 %}
					<div class="message-count">{{ i.messages.count }}</div>
					<i class="material-icons indigo-text">message</i>
				{% else %}
					<i class="material-icons grey-text">message</i>
				{% endif %}
			</a>	
			<a href="#calibration_t{{ i.pk }}-modal" class="right calib-action modal-trigger"><i class="material-icons indigo-text">done</i></a>		      
			<p>{{ i.description }}<br>
			    Assigned: {{ i.date_created }}
			</p>
		</div>
		<div id="calibration_t{{ i.pk }}-modal" class="modal">
			<div class="row modal-header" style="margin:0 auto;padding-top:10px;">
				<div class="s12 center">
					<p class="flow-text">Are you sure you want to mark <span class="{{ theme }}-text">{{ i.name }}</span> as done?</p>
				</div>
			</div>
			<div class="row modal-content" style="margin:2em auto 0 auto;padding-top:10px;">
				<div class="col s10 push-s1 task-buttons">
					<button class="btn right waves-effect waves-light {{ theme }} lighten-1 spacer">Yes</button>
					<button class="btn left waves-effect waves-light 
							{% if theme == 'pink' or theme == 'red' %}black{% else %}red{% endif %} 
								lighten-1 modal-action modal-close">Cancel</button>	
				</div>
			</div>
		</div>
		<div id="messages_t{{ i.pk }}-modal" class="modal">
			{% include 'blocks/messages.html' %}
		</div>
		<div id="detail_t{{ i.pk }}-modal" class="modal">
			{% include 'blocks/taskdetails.html' %}
		</div>
	</div>
	{% endif %}
</li>