<div class="row z-depth-1 instrument-filter">
	<form action="/search/instrument/" method="get">
	  <div class="input-field col s6 m2">
	    <select id="id_plant" name="plant">
	      <option value="Any"{% if not dataplant %} selected{% endif %}>Any</option>
	      {% for p in user.plants.all %}
	      <option value="{{ p.pk }}" {% if dataplant == p.pk %}selected{% endif %}>{{ p.name }}</option>
	      {% endfor %}
	    </select>
	    <label>Plant Select</label>
	  </div>
	  <div class="input-field col s6 m3">
	    <select id="id_location" name="location">
	      <option value="Any" data-plant="-1"{% if not datalox %} selected{% endif %}>Any</option>
	      {% for l in locations %}
	      <option value="{{ l.pk }}" data-plant="{{ l.plant.pk }}" {% if datalox == l.pk %}selected{% endif %}>{{ l.name }}</option>
	      {% endfor %}
	    </select>
	    <label>Location Select</label>
	  </div>
	  <div class="input-field col s12 m5">
          <i class="material-icons prefix">search</i>
          <input id="search_inst" type="text" name="search" class="validate" {% if datasearch %}value="{{ datasearch }}"{% endif %}>
          <label for="search_inst">Search on anything (Model, Type, etc.)</label>
        </div>
        <div class="input-field col s3 m1">
          	<button class="waves-effect waves-light {{ theme }} btn" type="submit">
          		<i class="material-icons">send</i>
          	</button>
        </div>
      </form>
 </div>