{% load staticfiles %}

<div id="content">
	<div class="section no-pad-bot">
	    <div class="container">
	      <div class="row bottom-border">
	      	  <span class="col thin small-title s12 m3">Models</span>
	      	  <div class="col s12 m9">
	      	  		{% if user.plants_manager.all.count > 0 %}
	 	  			<!-- <a href="#model-modal" id="model-button"
	       			class="btn waves-effect waves-light {{ theme }} lighten-1 theme right modal-trigger">Create</a> -->
	       			{% endif %}
	 	  			<button id="search-button"
	       			class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer">Search</button>
	           </div>
	      </div>
	    </div>
	  </div>


<div class="container">
    <!--   Instruments Section   -->
    {% include 'blocks/model.filter.html' %}
     <ul class="collection" id="collection">		
		{% for m in models %}
			{% include 'blocks/model.card.html' %}
		{% endfor %}	
      </ul>
</div>


<!-- Modals -->
<div id="model-modal" class="modal">
		{% include 'forms/instrumentmodel.html' %}
	</div>
</div>