<ul class="pagination">
	<li id="page-first" class="disabled waves-effect">
   	  <a href="#">
   		<i class="material-icons">first_page</i>
   	  </a>
   </li>
   <li id="page-back" class="disabled waves-effect">
   	  <a href="#">
   		<i class="material-icons">chevron_left</i>
   	  </a>
   </li>
   <li class="active {{ theme }} lighten-3 page-on" data-page="{{ page_on }}">{{ page_on }}</li>
   <li id="page-forward" class="waves-effect disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
   <li id="page-last" class="waves-effect disabled" data-last="1"><a href="#"><i class="material-icons">last_page</i></a></li>
 </ul>