<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Category </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.category }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Manager </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.manager.username }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Description </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.description }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Date Created </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.date_created }}</span>
	</div>
</div>
<div class="row" style="margin:10px auto">
	<div class="col s3 push-s1">
		<b class="right">Date Edited </b>
	</div>
	<div class="col s7 push-s1">
		<span> {{ i.date_edited }}</span>
	</div>
</div>