{% load staticfiles %}

<div id="content">
  <div class="section no-pad-bot">
      <div class="container">
        <div class="row bottom-border">
        	  <span class="col thin small-title s12 m3">XML Help</span>
        </div>
      </div>
    </div>


  <div class="container">
    <h5 class="thin2 center">"External Data" tab > export XML</h5>
      <p><b>1</b>. Open your database table (double click on it)</p>
      <img src="{% static "img/conv/step1.jpg" %}" class="center" width="530"/> <br>
      <p><b>2</b>. Click on the external tab in the ribbon</p>
      <img src="{% static "img/conv/step2.jpg" %}" class="center" width="530"/> <br>
      <p><b>3</b>. Click the XML File button in the export section</p>
      <img src="{% static "img/conv/step3.jpg" %}" class="center" width="530"/> <br>
      <p><b>4</b>. Select you destination for the file</p>
      <img src="{% static "img/conv/step4.jpg" %}" class="center" width="530"/> <br>
      <p><b>5</b>. We only care about the XML file, not the other ones</p>
      <img src="{% static "img/conv/step5.jpg" %}" class="center" width="530"/> <br>
      <p><b>6</b>. Grab your file and upload here</p>
  </div>


  <!-- Modals -->
  <div id="render" data-theme="{{ theme }}"></div>
</div>