{% load staticfiles %}
<div id="content">
  {% if user.is_authenticated %}
    {% include 'blocks/splash.loggedin.html' %}
  {% else %}
    {% include 'blocks/splash.html' %}
  {% endif %}

  {% include 'blocks/footer.html' %}
  {% include 'info.html' %}
  <!-- Modals -->
  <div id="render" data-theme="{{ theme }}"></div>
  <div id="login-modal" class="modal">
    {% include 'forms/login.html' %}
  </div>
  <div id="room1" class="modal">
    <div class="modal-content">
        {% include 'forms/join.html' %}
      </div>
  </div>

</div>


