<div id="content" class="manage-deck">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row bottom-border">
        <span class="col thin small-title s12 m3 pagetitle">{{ pagetitle }}</span>
        {% if obj %}
        <div class="col s12 m9">
          <a href="/deck/delete/deck/{{ obj.slug }}/" class="deck-delete btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer modal-trigger no-ajaxy" data-slug="{{ obj.slug }}">Delete Deck</a>
          <a href="/deck/" class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer modal-trigger">Random Card</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row dash z-depth-1">
        <div class="row">
          <div class="input-field col s11 push-s1 m5 l4">                   
            <input type="text" name="name" required="" id="id_name" maxlength="255" {% if obj %}value="{{ obj.name }}"{% endif %}>
            <label for="id_name" class="">Name:</label>
          </div>
          <div class="input-field col s12 m7 l8">
            <i class="material-icons prefix {{ theme }}-text">search</i>
            <input type="text" id="autocomplete-input-search" class="autocomplete">
            <label for="autocomplete-input" class="{{ theme }}-text">Search cards</label>
            <!-- Search cards, and notify if in deck or not -->
            <!-- CARDS: Have buttons to add into deck -->
            <div id="autocomplete-results" class="z-depth-2">
               <a id="autocomplete-results-close" 
               class="btn-floating waves-effect waves-light {{ theme }} lighten-1"><i class="material-icons">clear</i></a>
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- DECK -->
          <div class="col s12 l10 push-l1">
            <h5 class="inline">Cards in Deck</h5>
            <a {% if not cardsmax %} href="#modal-create-card"{% endif %} 
            class="waves-effect btn-flat tooltipped{% if cardsmax %} grey-text{% else %} {{ theme }}-text modal-trigger{% endif %}" 
            data-position="top" data-tooltip="{% if cardsmax %}You have the max number of cards allowed{% else %}Add Another{% endif %}"><i class="material-icons">add</i></a>
          </div>
          <div class="col s12">
            <ul id="deck-card-list" class="collection">
            {% for c in obj.cards.all %}
              {% include 'blocks/deck.card.html' %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-create-card" class="modal">
      <form id="create-card-form">
        <div class="modal-content">
          <h4>Create a card</h4>
          {% if cardform %}
            <div>
              {% csrf_token %}
              <div class="row">
                  <div class="input-field col s10 push-s1">        
                    <input type="text" name="text" required="" id="id_text_add"><label for="id_text_add" class="">Text:</label>
                  </div>
              </div>   
              <div class="row">
                  <div class="input-field col s10 push-s1">        
                    <input type="text" name="flavor_text" required="" id="id_flavor_text_add"><label for="id_flavor_text_add">Flavor text:</label>
                  </div>
              </div>  
              <div class="row">
                  <div class="input-field col s10 push-s1">        
                    <input type="number" name="amount" required="" id="id_amount_add"><label for="id_amount"_add>Amount:</label>
                  </div>
              </div>     
            </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button class="waves-effect waves-green btn-flat {{ theme }}-text" id="deck-create-card">Create</button>
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large {{ theme }} darken-4waves-effect waves-green">
      <i class="large material-icons">save</i>
    </a>
  </div>
</div>