<footer class="page-footer {{ theme }} darken-1 theme leftShadowVert">
  <div class="container">
    <div class="row" style="margin-bottom:0;">
      <div class="col l6 s12" id="citi-footer">
        <h5 class="white-text">Calibration</h5>
        <p class="grey-text text-lighten-4">CITI, LLC</p>


      </div>
      <div class="col l3 s12" id="links-footer">
        <h5 class="white-text">Links</h5>
        <ul>
          {% if user.global_manager or user.plants_manager.all.count > 0 %}
          <li><a class="white-text" href="/conversion/">Conversion Tool</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a class="white-text no-ajaxy" href="/v2/">API</a></li>
          <li><a class="white-text no-ajaxy" href="/web/updates/">Update Log</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="col l3 s12" id="connect-footer">
        <h5 class="white-text">Connect</h5>
        <ul>
        {% if user.is_authenticated %}
          <li><a class="white-text" href="mailto:nicholas@citi-llc.com">Contact Dev</a></li>
         {% endif %}
         <li><a class="white-text no-ajaxy" href="http://citi-llc.com/">CITI, LLC Website</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>