<div id="content">
	<div class="section no-pad-bot">
	    <div class="container">
	      <div class="row bottom-border">
	      <span class="thin small-title left">Instruments</span>
	      {% if user.plants_manager.all.count > 0 %}
	          <a href="/instrument/add/" id="session-button"
	           class="btn waves-effect waves-light {{ theme }} lighten-1 theme right">Create Instrument</a>
	          {% endif %}
	          <button id="search-button"
       			class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer">Search</button>
	      </div>
	    </div>
	  </div>

	<div class="section no-pad-bot">
    	<div class="container">
    		<div id="filter-block" class="container" style="display:none;">
				{% include 'blocks/issue.filter.html' %}
			</div>
    		<h2 class="thin {{ theme }}-text center" style="margin-top:0">{{ i.name }}</h2>
    		<h6 class="thin2 center">{{ i.location.name }} at {{ i.location.plant.name }}</h6>
    		{% if canedit %}
			  <a class="btn waves-effect waves-light {{ theme }} lighten-1 theme" id="inst-edit" href="/instrument/{{ i.slug }}/edit/">Edit
			    <i class="material-icons right">build</i>
			  </a>
			  {% endif %}
    		<div class="row" >
	    		<div class="col s12 m6">
					<ul class="collection with-header z-depth-1">
						<li class="collection-header center"><h5>Details</h5></li>
				      <li class="collection-item">
						<span class="mini-title">Model <a href="/model/{{ i.model.slug }}/view/">(View more info)</a></span>
						<p class="compress both"><a 
						href="/model/{{ i.model.slug }}/view/"  
						class="grey-text text-darken-3">{{ i.model }}</a></p>
					  </li>
				      <li class="collection-item">
						<span class="mini-title">Serials</span>
						<p class="compress both">{{ i.serials }}</p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Secondary Instrument</span>
						<p class="compress both"><a 
						href="/instrument/{{ i.models.slug }}/view/"  
						class="grey-text text-darken-3">{{ i.models }}</a></p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Part Number</span>
						<p class="compress both">{{ i.part_num }}</p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Calibrated Span</span>
						<p class="compress both">{{ i.calibrated_span }}</p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Zero Offset</span>
						<p class="compress both">{{ i.zero_offset }}</p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Input/Output Characteristics</span>
						<p class="compress both">{{ i.input_output_characteristics }}</p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Calibration Frequency</span>
						<p class="compress both">{{ i.calibration_frequency }}</p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Process</span>
						<p class="compress both">{{ i.process }}</p>
					  </li>
					  <li class="collection-item">
						<span class="mini-title">Next Calibration</span>
						<p class="compress both">{{ i.next_calibration }}</p>
					  </li>
				    </ul>
				</div>
				<div class="col s12 m6">
					<ul class="collection with-header z-depth-1">
						<li class="collection-header center"><h5>Calibrations</h5></li>
						{% for c in calibrations %}
						<li class="collection-item">
							<p>
								{% if c.date_completed %}
								<span class="mini-title">{{ c.date_completed }}</span>
								{% else %}
								<span class="mini-title">Incomplete</span>
								{% endif %}
								<a href="/calibration/{{ c.pk }}/view/"> (View more info)</a>
							</p>
								{% for p in c.points.all %}
								<p class="compress both">{{ p }}</p>
								{% endfor %}
								<span class="compress both"><b>Comments: </b>{{ c.comments }}</span>
								<br>
								<span class="compress both"><b>Issues: </b>{{ c.issues }}</span>
						</li>
						{% endfor %}
						{% if not all %}
						<li class="collection-header center">
							<a class="btn waves-effect waves-light {{ theme }}" href="/instrument/{{ i.slug }}/view/?allcalibrations=True">See All Calibrations
							    <i class="material-icons right">history</i>
							  </a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
    	</div>
    </div>
</div>