{% load staticfiles %}
<div id="content">

  <div class="section no-pad-bot">
    <div class="container">
      <div class="row bottom-border">
        <span class="col thin small-title s12 m3">{{ obj.name }}</span>
        <div class="col s12 m9">
          {% if can_draw %}<button class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer">Draw</button>{% endif %}
          <button class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer">Refresh</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center {{ theme }}-text theme"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">discarded</h5>

            <p class="light">stuff</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center {{ theme }}-text theme"><i class="material-icons">group</i></h2>
            <h5 class="center">on display</h5>

            <p class="light">drawn</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center {{ theme }}-text theme"><i class="material-icons">dashboard</i></h2>
            <h5 class="center">remaining</h5>

            <p class="light">the deck</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% include 'info.html' %}
</div>


