{% load staticfiles %}

<div id="content">


  <div class="section no-pad-bot">
    <div class="container">
      <div class="row bottom-border">
        <span class="col thin small-title s12 m3">{{ obj.name }}</span>
        <div class="col s12 m9">
          {% if can_draw %}<button id="btn-draw" class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer">Draw</button>{% endif %}
          <button id="btn-rfs" class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer">Refresh</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        {% include 'blocks/room.html' %}
      </div>

    </div>
  </div>
</div>

{% include 'info.html' %}
</div>


