{% load staticfiles %}

<div id="content">
<div class="section no-pad-bot">
    <div class="container">
      <div class="row bottom-border">
      	  <span class="col thin small-title s12 m6">Updates</span>
      	  <div class="col s12 m9">
  	  		<a href="/reports/" id="report-button"
          		class="btn waves-effect waves-light {{ theme }} lighten-1 theme right spacer">Reports</a>
           </div>
      </div>
    </div>
  </div>
<div class="container">
     <ul id="update-cards" class="collection with-header z-depth-1 text-inputs">
     
     <li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/04/27 a</p>
					<ul>
						<li>Report calibration page now uses instrument snapshot for information</li>
						<li>Fixed calibration report page with snapshot models not rendering</li>
						<li>Added fields in snapshot to better capture instrument model</li>
						<li>More error traps for saving instrument snapshot added</li>
					</ul>
				</div>
			</div>
		</li>
     
     <li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/04/25 a</p>
					<ul>
						<li>Added reports for issues and delinquents</li>
						<li>Added toggling of more info for print calibration page</li>
						<li>Added tool tips to the calibration print page</li>
						<li>Added instrument snapshot model</li>
						<li>Added saving snapshot to calibration object in database</li>
						<li>Fixed admin calibration page from slow load from snapshot</li>
					</ul>
				</div>
			</div>
		</li>
     
     <li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/04/20 b</p>
					<ul>
						<li>Added update log page to website</li>
						<li>Fixed not being able to add extra calibration points</li>
						<li>Fixed adding new types caused calibration frequencies to be created</li>
					</ul>
				</div>
			</div>
		</li>
     
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/04/20 a</p>
					<ul>
						<li>Fixed saving bug, unchecking active would not allow save</li>
						<li>Fixed saving bug, no next calibration would throw error</li>
						<li>Fixed calibration open bug, scrolling through instruments would not allow calibration page to be opened</li>
						<li>Added feature, sorting calibration reports</li>
					</ul>
				</div>
			</div>
		</li>
		
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/02/07 a</p>
					<ul>
						<li>Added ability to load in inactive instruments to the api</li>
						<li>Fixed searchable select not rendering correct name</li>
					</ul>
				</div>
			</div>
		</li>
		
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/02/06 b</p>
					<ul>
						<li>Fixed tooltips staying active on page change (mostly)</li>
						<li>fixed links in the instrument info page</li>
						<li>fixed page load breaking on calibration editing</li>
						<li>fixed styling on report page</li>
						<li>fixed report page showing issues and past due on previous weeks</li>
						<li>added phone number to user edit form</li>
					</ul>
				</div>
			</div>
		</li>
		
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/02/06 a</p>
					<ul>
						<li>Sped up the admin inst page - added server side searching</li>
						<li>fixed login redirect link to dashboard</li>
					</ul>
				</div>
			</div>
		</li>
		
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/02/02 a</p>
					<ul>
						<li>added comments and description to the details modal</li>
						<li>added links to edit task for the manager of that task</li>
					</ul>
				</div>
			</div>
		</li>
		
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/01/30 b</p>
					<ul>
						<li>added admin functinos for quick freq updates</li>
						<li>fixed bugs in edit page where error would crash</li>
						<li>added columbia translate functions</li>
					</ul>
				</div>
			</div>
		</li>
		
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">2017/01/30 a</p>
					<ul>
						<li>Sped up the admin insturment page - added server side searching</li>
						<li>fixed login redirect link to dashboard</li>
					</ul>
				</div>
			</div>
		</li>
		
		<li class="collection-item instrument-row">
			<div class="row squish">
				<div class="col s12">
					<p class="small-title thin2 grey-text text-darken-4">PREVIOUS</p>
					<ul>
						<li>See version file in server file system</li>
					</ul>
				</div>
			</div>
		</li>
			
      </ul>
</div>
</div>